* {
    box-sizing: border-box;
}
html {
    font-family: "Mukta Malar", sans-serif;
}
body {
    padding: 2rem;
    background: url("https://wallpapers.com/images/hd/beach-photography-4480-x-2520-wallpaper-0216cppy42x0imk0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #076a4b;
}

.form-box {
    margin: 4rem auto;
    min-height: 50rem;
    max-width: 70rem;
    box-shadow: 0 0 1.5rem black;
    border-radius: 0.1rem;
    padding: 4rem 3.5rem;
    color: white;
}
.form-heading {
    font-weight: 900;
    font-size: 2rem;
}
.form-intro {
    margin: 1.5rem 0 3rem;
}

.form,
.form-label,
.input-box {
    display: flex;
}
.form {
    flex-direction: column;
    gap: 1.5rem;
}
.form-label {
    gap: 1.5rem;
}
.label-caption {
    flex: 0 1 10rem;
}
.input-box {
    flex: 1 1 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.form-input {
    flex: 1 1;
    border: none;
    padding: 0 1rem;
    min-width: 4rem;
}

::placeholder {
    color: black;
    font-weight: 200;
}
.form-input:valid {
    background-color: rgba(135, 206, 235, 0.5);
}
.form-input:invalid {
    background-color: rgba(139, 0, 0, 0.5);
}

.form-input,
.submit-btn {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
}
.submit-btn {
    display: block;
    color: black;
    border: 3px solid black;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2.5rem 0 0 10rem;
    padding: 5px;
    flex: 1 1;
}
.submit-btn:hover {
    color: #808080;
    border-color: #808080;
}
.submit-btn:active {
    color: darkgray;
    border-color: darkgray;
}

@media screen and (max-width: 741px) {
    .form-label {
        flex-direction: column;
        margin-bottom: 0.5rem;
    }
    .label-caption {
        flex-basis: 1rem;
    }
    .input-box {
        gap: 0.5rem;
    }
    .submit-btn {
        margin: 1.5rem 0 0;
    }
}
@media screen and (max-width: 500px) {
    .form-box {
        padding: 4rem 2.5rem;
    }
}
@media screen and (max-width: 320px) {
    .form-box {
        padding: 3rem 2rem;
    }
}
