@font-face {
      font-family: Roboto;
      src: url(./../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
      font-family: Inter-ExtraBold;
      src: url(./../fonts/Inter/static/Inter-ExtraBold.ttf);
}
@font-face {
      font-family: Inter-Bold;
      src: url(./../fonts/Inter/static/Inter-Bold.ttf);
}
html {
      font-size: 24px;
      --user-card-1__greenish-color: #515b34;
      --user-card-1__orange-color: #d97961;
}
body {
      display: flex;
      box-sizing: border-box;
      text-align: center;
      line-height: 1.2;
      padding: 2.5rem;
      background-color: #e6edef;
      flex-wrap: wrap;
      gap: 2.25rem;
}
button {
      cursor: pointer;
}

.user-card-1 {
      display: flex;
      min-width: 24rem;
      max-width: 24rem;
      min-height: 35.125rem;
      border-radius: 39px;
      margin: 0 auto;
      flex-direction: column;
      background-color: #fff9f9;
      box-shadow: 0 0 2.5px 2.5px rgba(0, 0, 0, 0.25);
}
.uc1-pfp {
      width: 290px;
      height: 290px;
      object-fit: cover;
      object-position: left;
}
.uc1-pfp-wrapper {
      display: inline-block;
      width: 277px;
      height: 266px;
      border-radius: 50%;
      overflow: hidden;
      margin: 1.8rem 6.2rem 1.4rem;
}
.fixed-height {
      height: 86.3906px;
      overflow: hidden;
      text-overflow: clip;
}
.uc1-username,
.uc1-occupation {
      font-family: Inter-ExtraBold, Verdana, Tahoma, sans-serif;
}
.uc1-username,
.uc1-occupation,
.uc1-description,
.uc1-socials-h3 {
      padding: 0 1.5rem;
}
.uc1-username {
      text-transform: uppercase;
      font-size: 1.6rem;
      padding-bottom: 0.4rem;
      color: var(--user-card-1__greenish-color);
}
.uc1-occupation {
      text-transform: capitalize;
      padding-bottom: 1rem;
      color: var(--user-card-1__orange-color);
}
.uc1-username,
.uc1-occupation,
.uc-usernaeme,
.uc-occupation {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}
.uc1-description,
.uc1-button {
      font-family: Roboto, Verdana, Tahoma, sans-serif;
}
.uc1-description {
      font-family: Roboto, Verdana, Tahoma, sans-serif;
}
.uc1-h3-margin,
.uc-h3-margin {
      margin-top: 1.4rem;
}
.uc1-socials-h3 {
      font-family: Inter-Bold, Verdana, Tahoma, sans-serif;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      color: var(--user-card-1__greenish-color);
}
.uc1-socials-div {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: 0.6rem;
      margin: 0 5rem 0.5rem;
}
a:link {
      color: black;
}
a:visited {
      color: black;
}
.uc1-social-link {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      border-radius: 50%;
      width: 49px;
      height: 45px;
}
.fa-facebook-f {
      font-size: 1.5rem;
      position: absolute;
      left: 28%;
      top: 24%;
}
.fa-whatsapp {
      font-size: 1.35rem;
      position: absolute;
      left: 23%;
      top: 15%;
}
.fa-instagram {
      font-size: 1.4rem;
      position: absolute;
      left: 21%;
      top: 15%;
}
.fa-twitter {
      font-size: 1.2rem;
      position: absolute;
      left: 23%;
      top: 20%;
}
.uc1-footer {
      display: flex;
      border-top: 2px solid #9a9a9a;
      margin: 0 1.8rem;
      justify-content: space-between;
      gap: 0.9rem;
      padding: 0.9rem 0 0.5rem;
}
.uc1-button {
      border: none;
      outline: none;
      box-shadow: none;
      font-size: 24px;
      width: 9.8rem;
      padding: 0.6rem;
      text-transform: capitalize;
      color: white;
}
.uc1-brown-button {
      background-color: #806f51;
}
.uc1-orange-button {
      background-color: var(--user-card-1__orange-color);
}

.user-card {
      display: flex;
      min-width: 24rem;
      max-width: 24rem;
      min-height: 35.125rem;
      border-radius: 39px;
      margin: 0 auto;
      flex-direction: column;
      background-color: #fff9f9;
      box-shadow: 0 0 2.5px 2.5px rgba(0, 0, 0, 0.25);
}
.uc-pfp {
      width: 290px;
      height: 290px;
      object-fit: cover;
}
.uc-pfp-wrapper {
      display: inline-block;
      width: 277px;
      height: 266px;
      border-radius: 50%;
      overflow: hidden;
      margin: 1.8rem 6.2rem 1.4rem;
}
.uc-username,
.uc-occupation {
      font-family: Inter-ExtraBold, Verdana, Tahoma, sans-serif;
}
.uc-username,
.uc-occupation,
.uc-description,
.uc-socials-h3 {
      padding: 0 1.5rem;
}
.uc-username {
      text-transform: uppercase;
      font-size: 1.6rem;
      padding-bottom: 0.4rem;
      color: var(--user-card-1__greenish-color);
}
.uc-occupation {
      text-transform: capitalize;
      padding-bottom: 1rem;
      color: var(--user-card-1__orange-color);
}
.uc-description,
.uc-button {
      font-family: Roboto, Verdana, Tahoma, sans-serif;
}
.uc-description {
      font-family: Roboto, Verdana, Tahoma, sans-serif;
      padding-bottom: 1.4rem;
}
.uc-socials-h3 {
      font-family: Inter-Bold, Verdana, Tahoma, sans-serif;
      font-size: 1.6rem;
      padding-bottom: 1rem;
      color: var(--user-card-1__greenish-color);
}
.uc-socials-div {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: 0.6rem;
      margin: 0 5rem 0.5rem;
}
.uc-social-link {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      border-radius: 50%;
      width: 49px;
      height: 45px;
}
.fa-facebook-f {
      font-size: 1.5rem;
      position: absolute;
      left: 28%;
      top: 24%;
}
.fa-whatsapp {
      font-size: 1.35rem;
      position: absolute;
      left: 23%;
      top: 15%;
}
.fa-instagram {
      font-size: 1.4rem;
      position: absolute;
      left: 21%;
      top: 15%;
}
.fa-twitter {
      font-size: 1.2rem;
      position: absolute;
      left: 23%;
      top: 20%;
}
.uc-footer {
      display: flex;
      border-top: 2px solid #9a9a9a;
      margin: 0 1.8rem;
      justify-content: space-between;
      gap: 0.9rem;
      padding: 0.9rem 0 0.5rem;
}
.uc-button {
      border: none;
      outline: none;
      box-shadow: none;
      font-size: 24px;
      width: 9.8rem;
      padding: 0.6rem;
      text-transform: capitalize;
      color: white;
}
.uc-brown-button {
      background-color: #806f51;
}
.uc-orange-button {
      background-color: var(--user-card-1__orange-color);
}
